
        {% if userAction.action.intension %}
            <p><strong>Intension :</strong> {{ userAction.action.intension }}</p>
        {% endif %}
        
        {% if userAction.action.duration %}
            <p><strong>Durée :</strong> {{ userAction.action.duration }} min</p>
        {% endif %}
        
        {% if userAction.action.type %}
            <p><strong>Type :</strong> {{ userAction.action.type }}</p>
        {% endif %}

        {% if userAction.action.blocks|length > 0 %}
            <p><strong>Blocs :</strong></p>
            <ul>
                {% for block in userAction.action.blocks %}
                    <li>
                        <a href="{{ path('app_block_show_from_need', {'id': userAction.id}) }}">
                            {{ block.title }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}


        {% if userAction.action.description %}
            <p><strong>Description :</strong> {{ userAction.action.description }}</p>
        {% endif %}

        {% if userAction.action.icon %}
            <p><strong>Icone :</strong> <img src="{{ asset(userAction.action.icon) }}" alt="{{ userAction.action.title }}" style="height:24px;"></p>
        {% endif %}